/* проверка кастом селектора */
/* body {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
} */

.width-200 {
  width: 200px;
}

.margin-right-200 {
  margin-right: 200px;
}

.versiontk {
  width: 230px;
}

.global_weight {
  width: 100px;
}

.full_weight {
  width: 80px;
}

.recipeButton-style {
  margin-top: 20px;
  margin-left: 20px;
}

/* .assembleButton-style {
    position: absolute;
    right: 15px;
    top: 70px;
} */

.phaseBlockHeaderInput-style {
  width: 50px;
  margin-left: 10px;
}

.deleted {
  border-color: red !important;
}

.modal-body {
  max-height: calc(100vh - 210px);
  overflow-y: auto;
}

.modal-dialog-centered {
  max-width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.modal-content-full-height {
  height: 100vh;
}

.version-select {
  width: 280px;
  /* Установка фиксированной ширины */
}

.num-phase-select {
  width: 70px;
  /* Fixed width for the select element */
  float: 'left';
}

.select-container {
  display: flex;
  align-items: center;
  justify-content: start;
  /* Добавлено для выравнивания элементов в начале контейнера */
}

.button-container {
  display: flex;
  align-items: center;
}

.add-batch-button {
  margin-left: 10px;
  /* Отступ слева для кнопки "+" */
}

.btn-circle-green {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  /* Делаем кнопку круглой */
  width: 40px;
  /* Задаем ширину кнопки */
  height: 40px;
  /* Задаем высоту кнопки */
  background-color: #ffffff;
  /* Зеленый цвет фона */
  color: white;
  /* Белый цвет текста */
  border: none;
  /* Убираем границу */
  cursor: pointer;
  /* Курсор в виде указателя */
}

.selectize-dropdown {
  background-color: white !important;
  /* Устанавливаем фон выпадающего списка белым */
}

/* Стиль для строки при начале перетаскивания */
.dragging {
  opacity: 0.75;
  background-color: #e1f5fe;
  /* Светло-голубой фон */
  border: 2px dashed #29b6f6;
  /* Пунктирная рамка синего цвета */
}

/* Стиль для подсветки целевой строки */
.drag-over {
  background-color: #ffecb3;
  /* Светло-желтый фон */
  border-top: 2px solid #ff9800;
  /* Желтая граница сверху */
  border-bottom: 2px solid #ff9800;
  /* Желтая граница снизу */
}

.form-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  /* Добавим немного отступа снизу */
}

.form-container label {
  margin-right: 5px;
  /* Добавим немного отступа между надписью и полем ввода */
}

.table-container {
  width: 100%;
  padding-bottom: 24px;
}

table {
  width: 100%;
  /* Устанавливаем ширину таблицы равной ширине родительского контейнера */
  border-collapse: collapse;
}

td {
  width: 50%;
  min-width: 296px;
  box-sizing: border-box;
  padding-bottom: 24px;
  color: var(--black);
  position: relative;
}

td:last-child {
  min-width: auto;
}

#outputControlCollapsibleTable tbody td {
  box-sizing: content-box;
  min-width: 187px;
  padding-right: 32px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 120px;
  cursor: pointer;
  border: 2px dashed #3042DC40;
  border-radius: 8px;
  background: var(--blue-opacity);
  transition: var(--transition);
}

.button-container:hover {
  background: var(--blue-opacity-hover);
}

.image-button {
  color: var(--blue);
  background: none;
  border: none;
  padding: 0;
  pointer-events: none;
}

.button-image {
  width: 100%;
  max-width: 30px;
  height: 100%;
  max-height: 30px;
  object-fit: cover;
  pointer-events: none;
}

.image-upload-input {
  display: none;
  /* Скрываем input */
}

.wrapper-uploaded-image {
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.container-uploaded-image {
  position: relative;
  width: 187px;
  height: 120px;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(219, 229, 230);
  border-radius: 8px;
  background: transparent;
}

#full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition);
}

#full-screen-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid var(--white);
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

.container-uploaded-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background-color: #00000099;
  border-radius: 50%;
  transform: translate(32px, -38px) scale(0.1);
  opacity: 0;
  z-index: 1;
  transition: transform .7s, opacity .7s;
}

.container-uploaded-image:hover::after {
  opacity: 1;
  transform: scale(1) translate(-100px, -90px);
  pointer-events: none;
}

.container-uploaded-image .delete-button {
  opacity: 0;
  transform: translateY(-20%);
  transition: var(--transition);
}

.container-uploaded-image:hover .delete-button {
  transform: translateY(0%);
  opacity: 1;
}

.look {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: 2;
  opacity: 0;
  transition: var(--transition);
}

.container-uploaded-image:hover .look {
  opacity: 1;
}

.uploaded-image {
  width: 187px;
  height: 120px;
}

.delete-button {
  position: absolute;
  top: 4px;
  right: 4px;
  width: 32px;
  height: 32px;
  opacity: 0;
  padding: 0;
  z-index: 2;
  border: 0;
  border-radius: 4px;
  background: var(--white);
  outline: none;
  transition: var(--transition);
}

.delete-button:hover {
  background: var(--gray)
}

#adress {
  width: 100px;
  /* Устанавливаем ширину элемента */
  margin-left: 20px;
}

#loadingScreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Чтобы занавес был поверх всех других элементов */
}


/*---------------------------Кнопка Добавить компонент------------------------*/

#addButton {
  padding: 0;
  /* Убираем внутренние отступы */
  border: none;
  /* Убираем границу */
  background: none;
  /* Убираем фон */
  cursor: pointer;
  /* Курсор в виде указателя */
  margin-left: 10px;

}

#addButton img {
  width: 30px;
  height: auto;
  scale: 1;
  transition: 0.4s ease-in-out;
}

#addButton:hover img {
  fill: aquamarine;
  scale: 1.125;
}

#addButton:hover {
  background: url('icons/icons8-add-64.png') no-repeat center;
  background-size: 30px;
  /* Размер гифки */
}

/*---------------------Конец кнопки Добавить компонент------------------------*/

/*---------------------------Форма с суммой процентов-------------------------------------------*/

/*---------------------------Конец формы с суммой процентов-------------------------------------*/

.flex-container {
  /* display: flex; */
  display: none;
  flex-wrap: wrap;
  margin-inline: 20px;
  gap: 10px;
}

#customAlert {
  display: none;
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 20px;
  width: 30%;
  height: auto;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#customAlert>div {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#customAlertMessage {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
}