@font-face {
  font-family: 'Inter Medium';
  src: url('../fonts/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Inter SemiBold';
  src: url('../fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('../fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

:root {
  --white: #fff;
  --black: #000;
  --blue: #3042dc;
  --blue-hover: #2933c0;
  --blue-opacity: #3042dc0d;
  --blue-opacity-hover: #2933c01d;
  --gray: #f2f2f2;
  --gray-hover: #e3e3e3;
  --input-percents: #0000001A;
  --select-focus-box-shadow: #3042dc33;
  --transition: .3s ease-in-out;
  --ff-500: 'Inter Medium';
  --ff-600: 'Inter SemiBold';
  --ff-700: 'Inter Bold';
}

.cursor-pointer {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0px 0px 12px 0px #0000000A;
}

.border-radius {
  border-radius: 16px;
}

textarea {
  resize: none;
}

.accordion {
  background: var(--white);
  transition: var(--transition);
}

.accordion-header {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 16px;
  transition: var(--transition);
}

.accordion-header:hover {
  border: 1px solid var(--black);
}

.accordion-header.border-bottom-only {
  border-bottom: 1px solid #dbdada;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* .accordion:has(.detail-box.active) {
  background-image: linear-gradient(44deg, #a8b0f4, #fdbebe);
} */

.detail-box {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: 0.5s;
}

.detail-box.active {
  grid-template-rows: 1fr;
}

.inner-box {
  min-height: 0;
  overflow-x: auto;
}

.m9-add-component {
  width: 100%;
  margin-top: 24px;
  margin-bottom: 32px;
  padding: .7rem 0;
  cursor: pointer;
  background: var(--blue-opacity);
  color: var(--blue);
  font-family: var(--ff-500);
  font-weight: 500;
  border-radius: 5px;
  border: 0;
  transition: var(--transition);
}

.m9-add-component:hover {
  background: var(--blue-opacity-hover);
}

.transition-box {
  padding: 0.3rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  transition: 0.5s;
  padding-top: 36px;
  margin-inline: 32px;
  transform: translateY(-100%);
  /* transform: translateY(0); */
}

.detail-box.active .transition-box {
  transform: translateY(0);
}

.content {
  /* scale: .6; */
  /* opacity: 0; */
  transition: 0.5s;
}

.detail-box.active .content {
  scale: 1;
  opacity: 1;
  transition-delay: 0.2s;
}

.m9-container {
  /* padding: 20px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: var(--ff-600);
  margin: 0;
  cursor: pointer; */
}

.m9-rounded {
  border-radius: 16px;
}

.transition {
  transition: var(--transition);
}

.rotate-180 {
  rotate: 180deg;
}

/* Фаза 1 */
/* .accordion-childrens {
  display: none;
  margin-top: 20px;
} */

.th {
  opacity: .5;
  color: var(--black);
  padding: 0;
  padding-bottom: 16px;
  font-family: var(--ff-500);
  font-weight: normal;
}

td~td,
.th~.th {
  padding-left: 32px;
}

tr:last-child td {
  padding-bottom: 0;
}

.accordion-childrens.active {
  display: block;
}

/* Фаза 2 */
#outputControlCollapsibleTable {
  /* display: none; */
}

#outputControlCollapsibleTable.active {
  display: block;
}

.col div label {
  margin-bottom: 0;
}

@media only screen and (max-width: 375px) {
  label {
    width: 100%;
  }
}

.show {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  background: #f8f9fa;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h5 {
  margin: 0;
}

.m9-container_wrapperContainer {
  /* Контейнер для форм Взвесил/Посчитал, Дата/Время, Подпись, Заказано */
  justify-content: center;
  /* Центрирование по горизонтали */
  padding: 20px;
  /* Внутренний отступ для содержимого контейнера */
  border-radius: 20px;
  /* Скругление углов контейнера */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Увеличение тени */
  background-color: #c7d2dd;
  /* Добавляем цвет фона */
}

.m9-container-margin {
  margin: 20px 20px 20px 20px;
  /* Внешний отступ сверху и снизу 20px, слева и справа 30px */
}

.m9-container-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: auto;
  color: #000000;
  /* Изменение цвета текста на белый для лучшей контрастности */
  word-wrap: break-word;
  background: linear-gradient(135deg, #ffffff 0%, #e0e0e0 100%);
  /* Градиентный фон */
  background-clip: border-box;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Увеличение тени */
  transition: all 0.3s ease;
  /* Добавление плавной анимации */
  font-family: 'Roboto', sans-serif;
  /* Изменение шрифта */
}

.m9-container-card-flex {
  position: relative;
  display: flex;
  flex-direction: row;
  /* Горизонтальное расположение элементов */
  flex-wrap: wrap;
  /* Переход элементов на новую строку при нехватке места */
  min-width: 300px;
  height: auto;
  color: #000000;
  word-wrap: break-word;
  /* background: linear-gradient(135deg, #ffffff 0%, #e0e0e0 100%); */
  background-clip: border-box;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  /* border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.2); */
  transition: all 0.3s ease;
  font-family: 'Roboto', sans-serif;
  align-items: center;
  /* Выравнивание элементов по центру по вертикали */
}

.m9-container-card.collapsed {
  max-height: 100px;
  /* Задайте желаемую максимальную высоту */
  overflow: hidden;
  /* Скрывает содержимое, выходящее за пределы максимальной высоты */
}

/* .m9-table tbody tr:hover {
  background-color: #e9ecef;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.m9-input {
  display: block;
  width: 100%;
  min-width: 296px;
  padding: 0.75rem 1rem;
  /* Увеличиваем внутренний отступ для лучшего комфорта */
  font-size: 14px;
  /* Увеличиваем размер шрифта */
  font-weight: 500;
  /* Увеличиваем вес шрифта для более выразительного текста */
  line-height: 1.5;
  height: calc(2.5em + .75rem + 2px);
  color: #333;
  /* Темный цвет текста для лучшей читаемости */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fbfbfb;
  /* Светлый цвет фона */
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* Тонкая граница */
  border-radius: 15px;
  /* Увеличиваем скругление углов */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Увеличиваем тень для создания эффекта глубины */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  /* Добавляем анимацию для фона */
  outline: none;
  /* Удаляем стандартное выделение при фокусе */
}

.m9-input:focus {
  border-color: #80bdff;
  /* Цвет границы при фокусе */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  /* Тень при фокусе */
  background-color: #fff;
  /* Белый фон при фокусе */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  /* Добавляем анимацию для фона */
}

.m9-input:disabled {
  background-color: #e0e0e0;
  /* Темный цвет фона для заблокированных форм */
  color: #000000;
  /* Белый цвет текста для лучшей читаемости на темном фоне */
}

/* Стилизация контейнера выпадающего списка */
.m9-select {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  background-color: #f8f9fa;
  /* Нежный цвет фона */
  border: 1px solid #ced4da;
  /* Тонкая граница */
  border-radius: 15px;
  /* Скругление углов */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Мягкая тень */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  outline: none;
  appearance: none;
  /* Удаление стандартного внешнего вида */
  -webkit-appearance: none;
  /* Для совместимости с браузерами на базе WebKit */
  -moz-appearance: none;
  /* Для совместимости с браузерами на базе Mozilla */
}

/* Стилизация выпадающего списка при фокусе */
.m9-select:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  background-color: #fff;
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
}

.m9-select:disabled {
  background-color: #e0e0e0;
  /* Темный цвет фона для заблокированных форм */
  color: #000000;
  /* Белый цвет текста для лучшей читаемости на темном фоне */
}

.card {
  border: 0;
}

/* .embossed-heavy {
    border: 1px solid rgba(0,0,0,0.05);
    box-shadow: 
        inset 0 2px 3px rgba(255,255,255,0.3), 
        inset 0 -2px 3px rgba(0,0,0,0.3),
        0 1px 1px rgba(255,255,255,0.9);
} */

.m9-input-line {
  display: block;
  border: none;
  color: #333;
  background: transparent;
  border-bottom: 2px solid #ced4da;
  /* Увеличиваем толщину линии */
  padding: 10px 2px 0 2px;
  /* Увеличиваем внутренний отступ для лучшего комфорта */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out;
  /* Добавляем анимацию для изменения цвета границы */
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .02);
  /* Добавляем легкую тень для создания эффекта глубины */
}

.m9-input-line:focus {
  outline: none;
  border-bottom: 2px solid #51CBEE;
  /* Изменяем цвет линии при фокусе */
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .07);
  /* Увеличиваем тень при фокусе */
}

.m9-input-mac {
  /* форма в mac-стиле */
  display: block;
  border: none;
  border-radius: 20px;
  padding: 5px 8px;
  color: #333;
  box-shadow:
    inset 0 2px 0 rgba(0, 0, 0, .2),
    0 0 4px rgba(0, 0, 0, 0.1);
}

.m9-input-mac:focus {
  outline: none;
  box-shadow:
    inset 0 2px 0 rgba(0, 0, 0, .2),
    0 0 4px rgba(0, 0, 0, 0.1),
    0 0 5px 1px #51CBEE;
}

.m9-btn-custom {
  background-color: #007bff;
  /* Цвет фона кнопки */
  border-color: #007bff;
  /* Цвет границы кнопки */
  color: #fff;
  /* Цвет текста кнопки */
  font-weight: 600;
  /* Жирный текст */
  padding: 0.5rem 1rem;
  /* Внутренний отступ кнопки */
  font-size: 1rem;
  /* Размер шрифта */
  border-radius: 20px;
  /* Скругление углов кнопки */
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
  /* Анимация для изменения цвета */
}

.m9-btn-custom:hover {
  background-color: #0056b3;
  /* Цвет фона кнопки при наведении */
  border-color: #0056b3;
  /* Цвет границы кнопки при наведении */
  color: #fff;
  /* Цвет текста кнопки при наведении */
}

.m9-btn-custom:focus {
  outline: none;
  /* Удаление стандартного выделения при фокусе */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  /* Тень при фокусе */
}

.m9-btn {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  /* Увеличиваем внутренний отступ для лучшего комфорта */
  font-size: 14px;
  /* Увеличиваем размер шрифта */
  font-weight: 600;
  /* Увеличиваем вес шрифта для более выразительного текста */
  line-height: 1.5;
  color: #333;
  /* Темный цвет текста для лучшей читаемости */
  background: linear-gradient(135deg, #f0f0f0 0%, #d1d1d1 100%);
  /* Градиентный фон серо-синего цвета */
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* Тонкая граница серо-синего цвета */
  border-radius: 20px;
  /* Увеличиваем скругление углов для более округлого вида */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Увеличиваем тень для создания эффекта глубины */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  /* Добавляем анимацию для фона */
  outline: none;
  /* Удаляем стандартное выделение при фокусе */
  cursor: pointer;
  /* Изменение курсора на указатель при наведении */
}

.m9-btn:focus {
  border-color: #80bdff;
  /* Цвет границы при фокусе */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  /* Тень при фокусе */
  background: linear-gradient(135deg, #d1d1d1 0%, #f0f0f0 100%);
  /* Градиентный фон при фокусе */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  /* Добавляем анимацию для фона */
}

.m9-btn:disabled {
  background: linear-gradient(135deg, #e0e0e0 0%, #d1e7f8 100%);
  /* Градиентный фон для заблокированных форм */
  color: #000000;
  /* Белый цвет текста для лучшей читаемости на темном фоне */
  cursor: not-allowed;
  /* Изменение курсора на "запрещено" при отключении кнопки */
}

.m9-btn:hover {
  background: linear-gradient(135deg, #d1d1d1 0%, #f0f0f0 100%);
  /* Градиентный фон кнопки при наведении */
  border-color: #7c9ec2;
  /* Цвет границы кнопки при наведении */
  color: #333;
  /* Цвет текста кнопки при наведении */
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

/* 16 */
.btn-16 {
  border: none;
  color: #000;
}

/* 16 */
.btn-16 {
  border: none;
  color: #000;
}

.btn-16:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}

.btn-16:hover {
  color: #000;
}

.btn-16:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.btn-16:active {
  top: 2px;
}

.m9-navigation-btn {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  /* Увеличиваем внутренний отступ для лучшего комфорта */
  font-size: 14px;
  /* Увеличиваем размер шрифта */
  font-weight: 600;
  /* Увеличиваем вес шрифта для более выразительного текста */
  line-height: 1.5;
  color: #333;
  /* Темный цвет текста для лучшей читаемости */
  background: linear-gradient(135deg, #f0f0f0 0%, #d1d1d1 100%);
  /* Градиентный фон серо-синего цвета */
  background-clip: padding-box;
  border: 1px solid #ced4da;
  /* Тонкая граница серо-синего цвета */
  border-radius: 20px;
  /* Увеличиваем скругление углов для более округлого вида */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Увеличиваем тень для создания эффекта глубины */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  /* Добавляем анимацию для фона */
  outline: none;
  /* Удаляем стандартное выделение при фокусе */
  cursor: pointer;
  /* Изменение курсора на указатель при наведении */
  margin: 0 10px;
  /* Отступы слева и справа между кнопками */
}

.m9-navigation-btn:hover {
  background: linear-gradient(135deg, #d1d1d1 0%, #f0f0f0 100%);
  /* Градиентный фон кнопки при наведении */
  border-color: #7c9ec2;
  /* Цвет границы кнопки при наведении */
  color: #333;
  /* Цвет текста кнопки при наведении */
}

.m9-navigation-btn:focus {
  border-color: #80bdff;
  /* Цвет границы при фокусе */
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  /* Тень при фокусе */
  background: linear-gradient(135deg, #d1d1d1 0%, #f0f0f0 100%);
  /* Градиентный фон при фокусе */
  transition: border-color .2s ease-in-out, box-shadow .2s ease-in-out, background-color .2s ease-in-out;
  /* Добавляем анимацию для фона */
}

.m9-checkbox-gradient.style-h {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m9-checkbox-gradient.style-h input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.m9-checkbox-gradient.style-h input:checked~.checkbox__checkmark {
  background-color: #98e5eb;
}

.m9-checkbox-gradient.style-h input:checked~.checkbox__checkmark:after {
  opacity: 1;
  top: -3px;
}

.m9-checkbox-gradient.style-h input:checked~.checkbox__body {
  background-position: 0 0;
  color: #fff;
}

.m9-checkbox-gradient.style-h:hover input~.checkbox__checkmark {
  background-color: #98e5eb;
}

.m9-checkbox-gradient.style-h:hover input:checked~.checkbox__checkmark {
  background-color: #98e5eb;
}

.m9-checkbox-gradient.style-h:hover .checkbox__body {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.m9-checkbox-gradient.style-h .checkbox__checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  height: 22px;
  width: 22px;
  background-color: #98e5eb;
  transition: background-color 0.25s ease;
  border-radius: 4px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(255, 255, 255, 0.4);
}

.m9-checkbox-gradient.style-h .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 10px;
  top: -15px;
  width: 10px;
  height: 20px;
  border: solid #fff;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease, top 0.25s ease;
}

.m9-checkbox-gradient.style-h.checkbox__body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  line-height: 1.4;
  font-size: 16px;
  transition: font-weight 0.25s ease;
  font-weight: bold;
  color: #333;
  background: linear-gradient(45deg, #00c3ff 0%, #98e5eb 50%, #98e5eb 50%, #98e5eb 100%);
  background-size: 200% 100%;
  background-position: 100% 0;
  padding: 15px;
  /* padding-left: 52px; */
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.25s ease, background 1s ease, color 0.25s ease;
  width: fit-content;
  /* Устанавливает ширину контейнера равной содержимому */
  margin: auto;
  /* Центрирует контейнер относительно его родителя */
}

/* Анимация для плавного исчезновения */
@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

/* Стили для анимации */
@keyframes savingAnimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.saving-indicator {
  position: fixed;
  /* Фиксированное позиционирование */
  top: 20px;
  /* Немного ниже верхнего края экрана */
  left: 50%;
  /* Центрирование по горизонтали */
  transform: translateX(-50%);
  /* Смещение на половину ширины элемента влево, чтобы центрировать */
  padding: 15px 20px;
  /* Увеличиваем внутренний отступ */
  background-color: #4CAF50;
  /* Зеленый фон с прозрачностью */
  color: #fff;
  /* Белый текст */
  border-radius: 20px;
  /* Скругление углов */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Тень для создания эффекта глубины */
  animation: savingAnimation 1s infinite;
  /* Анимация */
  display: none;
  /* По умолчанию скрыт */
  z-index: 1000;
  /* Убедитесь, что индикатор будет виден поверх других элементов */
  font-size: 16px;
  /* Увеличиваем размер шрифта */
  font-weight: bold;
  /* Жирный текст */
}

.logo-container h1 {
  white-space: nowrap;
}

.m9-navigation-menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;
  background-color: #d6d6d6;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  margin-bottom: 0;
}

.m9-navigation-menu-icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  transition: var(--transition);
}

.m9-navigation-menu-icon:hover {
  background: var(--gray);
}

.m9-navigation-menu-icon {
  transition: var(--transition);
}

.m9-navigation-menu-icon:hover {
  background: var(--gray);
}

/* Контейнер фаз */
#phasesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.menu-items-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  row-gap: 1rem;
  align-items: center;
  justify-content: end;
}

/* ---------------------Стиль подчеркивания ссылки при наведении------------------------- */

body {
  font-family: var(--ff-500);
  background: var(--gray);
}

.wrapper {
  min-height: 100vh;
  /* растягиваем по высоте браузера */
  width: 100%;
  /* растягиваем по ширине браузера */
  display: grid;
  /* для центрирования дочерних ссылок */
  place-items: center;
  /* центрируем дочерние ссылки */
}

a.underline {
  font-size: 6vw;
  /* размер шрифта относительно ширины браузера */
  text-decoration: none;
  font-weight: bold;
  font-family: 'Lora', serif;
  color: #e76f51;
  position: relative;
  transition: color 0.8s, text-shadow 0.8s;
  /* для плавного изменения цвета и тени(свечения) ссылки */
}

a.underline:after {
  content: '';
  display: block;
  position: absolute;
  /* позиционируем относительно ссылки */
  bottom: 15%;
  background: #2a9d8f;
  height: 20%;
  /* высота относительно высоты ссылки */
  width: 0%;
  /* изначально ширина полосы подчеркивания равна 0% */
  z-index: -1;
  /* ставим полосу подчеркивания позади текста ссылки */
  transition: width 0.8s, opacity 0.8s, box-shadow 0.8s;
  /* для плавного изменения ширины, прозрачности, тени(свечения) */
  border-radius: 100px;
  opacity: 0;
  /* изначально полоса полностью прозрачна */
  box-shadow: 0 0 16px rgba(42, 157, 143, 0);
}

a.underline:hover {
  color: #f4a261;
  text-shadow: 0 0 16px rgba(244, 162, 97, 0.64);
}

/* При наведении на ссылку, псевдоэлемент :after становится непрозрачным и шириной 100% относительно текста ссылки*/
a.underline:hover:after {
  width: 100%;
  opacity: 1;
  box-shadow: 0 0 16px rgba(42, 157, 143, 0.88);
}

/* Underline A */

/* В первом случае :after позиционируем к правому краю текста ссылки */
a.underline_a:after {
  right: 0;
}

/* при наведении позиционируем к левому краю */
a.underline_a:hover:after {
  right: auto;
  left: 0;
}

/* Underline B */

/* В втором случае :after позиционируем к левому краю текста ссылки */
a.underline_b:after {
  left: 0;
}

/* при наведении позиционируем к правому краю */
a.underline_b:hover:after {
  left: auto;
  right: 0;
}

/* Underline C */

/* В третьем случае :after центрируем */
a.underline_c:after {
  left: 0;
  right: 0;
  margin: 0 auto;
}

/*---------------------------Кнопка Добавить фазу----------------------------------------*/

#addPhaseButton {
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  padding: 5px;
  border-radius: 8px;
  margin: 30px auto;
  transition: var(--transition);
}

#addPhaseButton img {
  width: 40px;
  height: auto;
}

#addPhaseButton:hover {
  background: var(--gray);
}

/*---------------------------Конец кнопки "Добавить фазу"---------------------------------------*/